/* Filterbar.css */

.Filterbarcontainer {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent; /* Puedes cambiar el color de fondo según tus preferencias */
  padding: 4px;
}

select {
  margin-right: 6px; 
  padding: 4px;
  border: 1px solid #ECDFDB;
  border-radius: 5px;
  outline: none;
  font-family: Arial, sans-serif;
  font-size: 16px;
  background-color: #ECDFDB; /* Color de fondo azul */
  color: black; /* Color del texto */
}

/* Ajusta los estilos según tus necesidades específicas */
