.homecontainer{
    background-color: #ECDFDB; 
  margin: 0; /* Elimina el margen predeterminado del cuerpo */
  padding: 0; /* Elimina el relleno predeterminado del cuerpo */
  font-family: Arial, sans-serif; /* Establece la fuente predeterminada */
  box-sizing: border-box;
}


.pagination {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Alinea la paginación a la izquierda */
  margin-top: 10px; /* Espaciado superior para separar de otros elementos */
  max-width: 300px; /* Ancho máximo de la paginación */
  font-family: Arial, sans-serif;
  font-size: 12px;
}

.boton {
  border: 2px solid #B5C5D7;
  background-color: white;
  padding: 10px;
  text-decoration: none;
  color: #B5C5D7;
  cursor: pointer;
}

.boton:hover {
  background-color: #B5C5D7;
  color: white;
}
